@{
    ViewBag.Title = "Consent";
    Layout = "_Layout_guest";
}

   


<div class="row" style="margin-top:10px">
    <div class="col-md-8 offset-md-2">
        <div class="alert alert-warning fade show" role="alert" style="font-size:1rem">Thank you for registering with Myspace Mytime. Please read and accept the informed consent for telemedicine.</div>
        <div class="main-card mb-3 card">
            <div class="card-header">
                Read and accept to continue - Informed consent for Telemedicine
            </div>
            <div class="card-body">
                <h5>Introduction</h5>
                <p>
                    Telemedicine is the delivery of healthcare services using technology when the healthcare provider and patient are not in the same physical location. Providers may include primary care practitioners, specialists, and/or subspecialists. Electronically transmitted information may be used for diagnosis, treatment, follow-up, and/or patient education, and may include any of the following:
                    <ul>
                        <li>
                            Patient medical records;
                        </li>
                        <li>Medical images;</li>
                        <li>Interactive audio, video, and/or data communications; and/or</li>
                        <li>Output data from medical devices, sound and video files.</li>
                    </ul>
                    The interactive electronic systems used incorporate network and software security protocols to protect the confidentiality of my patient information and my imaging data and include measures to safeguard the data and to aid in protecting against intentional or unintentional corruption.
                </p>
                <h5>Potential Benefits:</h5>
                <p>
                    <ol>
                        <li>Improving access to specialized medical care by enabling me to remain in my physician’s office while my physician obtains test results and consults with a distant specialist at a remote location. </li>
                        <li>
                            Obtaining the expertise of a distant specialist.
                        </li>
                    </ol>
                </p>

                <h5>Potential Risks: </h5>
                <p>
                    As with any medical procedure, there may be potential risks associated with the use of telemedicine. These risks include, but may not be limited to:
                    <ol>
                        <li>Information transmitted may not be sufficient (e.g., poor resolution of images) to allow for appropriate medical decision making by my physician and a distant specialist.</li>
                        <li>
                            My distant specialist may not be able to provide medical treatment to me using telemedicine equipment nor provide for or arrange for any emergency care that I may require.
                        </li>
                        <li>
                            Delays in Initial Evaluation and treatment could occur due to deficiencies or failures of the equipment.
                        </li>
                        <li>
                            Security protocols could fail, causing a breach of privacy of my confidential medical information.
                        </li>
                        <li>
                            A lack of access to complete medical records may result in errors in medical judgment.
                        </li>
                    </ol>
                </p>

                <h5>By signing this form, I understand and agree to the following: </h5>
                <p>
                    <ol>
                        <li>The laws that protect the privacy and confidentiality of medical information also apply to telemedicine. Information obtained during a telemedicine encounter, which identifies me, should not be disclosed to any third party without my consent except for the purposes of treatment, payment, and healthcare operations. </li>
                        <li>
                            Telemedicine may involve electronic communication of my confidential medical information to other medical providers who may be located in other areas, including out-of-state.
                        </li>
                        <li>
                            I understand that other individuals other than my physician and the distant specialist may also be present and have access to my medical information during the consultation in order to operate the video equipment, should such equipment be utilized.
                        </li>
                        <li>
                            My health care provider has explained to me how the video conferencing technology will be used to affect such a consultation will not be the same as a direct patient/health care provider visit due to the fact that I will not be in the same room as my health care provider.
                        </li>
                        <li>
                            I understand that some parts of the exam involving physical tests may be conducted by individuals at my location at the direction of the distant specialist.
                        </li>
                        <li>
                            In an emergent consultation, I understand that the responsibility of the distant specialist is to advise my physician and that the responsibility of the distant specialist will conclude upon the termination of the video conference connection.
                        </li>
                        <li>
                            I have the right to withhold or withdraw my consent to the use of telemedicine during the course of my care at any time. I understand that my withdrawal of consent will not affect any future care or treatment, nor will it subject me to the risk of loss or withdrawal of any health benefits to which I am otherwise entitled.
                        </li>
                        <li>
                            I have the right to inspect all information obtained and recorded during the course of a telemedicine interaction, and may receive copies of this information for a reasonable fee. Such inspection and copying of records shall be subject to my physician’s or distant specialist’s office policies and procedures.
                        </li>
                        <li>
                            I may expect the anticipated benefits from the use of telemedicine in my care, but that no results can be guaranteed. My condition may not be cured or improved, and in some cases, may get worse.
                        </li>
                        <li>
                            I understand that my condition may require a referral to a specialist for further evaluation and treatment.
                        </li>
                        <li>
                            A variety of alternative methods of medical care may be available to me, and I may choose one or more of these at any time. My physician has explained the alternative care methods to my satisfaction. I understand that some parts of the exam involving physical tests may be conducted by individuals at my location at the direction of the consulting health care provider
                        </li>
                        <li>
                            I understand there are potential risks to this technology, including interruptions, unauthorized access and technical difficulties.  I understand that my health care provider or I can discontinue the telemedicine consult/visit if it is felt that the videoconferencing connections are not adequate for the situation.
                        </li>
                        <li>
                            I understand that my healthcare information may be shared with other individuals for scheduling and billing purposes.  Others may also be present during the consultation other than my health care provider and consulting health care provider in order to operate the video equipment.  The above mentioned people will all maintain confidentiality of the information obtained.  I further understand that I will be informed of their presence in the consultation and thus will have the right to request the following:
                            <ol>
                                <li>
                                    omit specific details of my medical history/physical examination that are personally sensitive to me;
                                </li>
                                <li>
                                    ask non‐medical personnel to leave the telemedicine examination room: and or
                                </li>
                                <li>
                                    terminate the consultation at any time.
                                </li>
                            </ol>
                        </li>
                        <li>
                            I understand that billing will occur from both my practitioner and as a facility fee from the site from which I am presented.
                        </li>
                        <li>
                            I have had a direct conversation with my doctor, during which I had the opportunity to ask questions in regard to this procedure.  My questions have been answered and the risks, benefits and any practical alternatives have been discussed with me in a language in which I understand.
                        </li>
                    </ol>
                </p>
                <h5>
                    Patient consent to the use of Telemedicine
                </h5>
                <p>
                    I have read and understand the information provided above regarding telemedicine, have discussed it with my physician and all of my questions have been answered to my satisfaction. I hereby give my informed consent for the use of telemedicine in my medical care.
                    I further certify:
                    <ul>
                        <li>
                            That I have read or had this form read and/or had this form explained to me
                        </li>
                        <li>
                            That I fully understand its contents including the risks and benefits of the procedure(s).
                        </li>
                        <li>
                            That I have been given ample opportunity to ask questions and that any questions have been answered to my satisfaction.
                        </li>
                    </ul>
                </p>
            </div>

            <div class="d-block text-center card-footer">
                <form asp-action="Consent" method="post">
                    <div class="custom-checkbox custom-control">
                        <input type="checkbox" id="consent_checkbox" name="consent_checkbox" class="custom-control-input"><label class="custom-control-label" for="consent_checkbox">
                            I hereby consent to and authorize the use of telemedicine in the course of my diagnosis and treatment.
                        </label>
                    </div>
                    @*<button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>*@
                    <button class="btn-wide btn btn-success" type="submit">Accept consent</button>
                </form>
            </div>
        </div>

    </div>
</div>

@section styles{
<style>
    .custom-control-label{
        font-size:1rem;
        font-weight:bold
    }
    p,li{
        /*font-size:1rem*/
    }
    h5{
        font-weight:bold
    }
</style>
}