@using DAL.Utils;
@{ Layout = "_Layout_guest";
    ViewBag.Title = "Member registration"; }

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="get" action="@Url.Action("Register","User")">
            <div class="card">
                <div class="card-header text-info">
                    <div class="card-header-title">
                        MEMBER REGISTRATION
                    </div>
                </div>
                <div class="card-body">

                    <div class="position-relative form-group">
                        <label class="form-label">What type of appointment are you setting up? </label>
                        @Html.DropDownList("appointment_type", new SelectList(Options.GetAppointmentTypes(), "id", "name", null), "Select ...", new { @class = "form-control", @required = "required", id = "appointment_type", @onchange = "load_appointment_activities('appointment_type','appointment_category')" })
                    </div>

                    <div class="position-relative form-group">
                        <label class="form-label">What is the category of the appointment? </label>
                        <select class="form-control" id="appointment_category" name="appointment_category" onchange="load_appointment_activities_sub('appointment_category','appointment_category_sub')" required></select>
                    </div>

                    <div class="position-relative form-group">
                        <label class="form-label">Please specify the activity for the appointment </label>
                        <select class="form-control" id="appointment_category_sub" name="appointment_category_sub" onselect="other_textbox_display" required></select>
                    </div>

                    <div class="form-group" id="div_appointment_category_sub_other" style="display:none">
                        <label class="form-label">Please specifiy</label>
                        <input type="text" name="appointment_category_sub_other" id="appointment_category_sub_other" class="form-control" />
                    </div>


                </div>
                <div class="card-footer">

                    <button type="submit" class="btn btn-lg btn-primary">Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>




@section scripts{

    <script src="~/js/option_util.js"></script>

    <script>
        $('#appointment_category_sub').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            if (optionSelected.text() == "OTHER") {
                $("#div_appointment_category_sub_other").show();
                $("#appointment_category_sub_other").attr("required", "required");

            } else {
                $("#div_appointment_category_sub_other").hide();
                $("#appointment_category_sub_other").removeAttr("required");
                $("#appointment_category_sub_other").val("");
            }
        });
    </script>
}

@section styles{
    <style>
        .form-label {
            font-weight: bold
        }
    </style>
}