@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_Layout_web";
}

@section styles{
    <style>
        body {
            /*font-family: 'Tajawal';*/
            background-color: white !important
        }

        #bg {
            background: url(../../images/2.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }

        body {
            overflow-x: hidden
        }

        .carousel-indicators li {
            background-color: green !important;
        }

        .carousel-indicators {
            position: inherit;
        }

        .ad-slider {
            margin: 10px;
        }

            .ad-slider > p {
                color: white
            }

        a {
            color: white
        }

        .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            color: inherit;
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom: 1px solid rgba(26,54,126,0.125);
        }

        .card-header, .card-title {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: .88rem;
        }

        .card {
            background-color: rgba(0, 0, 0, 0.7);
        }

        h4 {
            font-size: 2.5rem;
        }
    </style>
}


<section id="bg">
    <div class="row">
        <div class="col-md-2">
            <div class="text-center">

            </div>
        </div>
        <div class="col-md-3 offset-md-6">
            <div style="padding-top:150px; padding-bottom:200px">
                <div class="card" style="color:white !important">
                    <div class="card-body">
                        <partial name="_StatusMessage" model="Model.StatusMessage" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>




@section scripts{
    <script>
        $('#appointment_type').on('change', function (e) {
            if (this.value == 5) {
                $("#div_therapy_type").show();
            } else {
                $("#div_therapy_type").hide();
            }
        });

        $('#provider_type').on('change', function (e) {
            if (this.value == 177) {
                $("#div_area_of_interest").show();
            } else {
                $("#div_area_of_interest").hide();
            }
        });

        $('#area_of_interest').on('change', function (e) {
            if (this.value == 167) {
                $("#div_primary_care_type").show();
            } else {
                $("#div_primary_care_type").hide();
            }
        });

        $('#primary_care_type').on('change', function (e) {
            if (this.value == 180) {
                $("#div_primary_care_specialty").show();
            } else {
                $("#div_primary_care_specialty").hide();
            }
        });




    </script>

    <partial name="_ValidationScriptsPartial" />

}
