@page
@model ForgotPasswordModel

@using DAL.Utils
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_Layout_guest";
}
@section styles{
    <style>
        body {
            /*font-family: 'Tajawal';*/
            background-color: white !important
        }

       
        body {
            overflow-x: hidden
        }

       

        /*a {
            color: white
        }

        .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            color: inherit;
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom: 1px solid rgba(26,54,126,0.125);
        }

        .card-header, .card-title {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: .88rem;
        }

        .card {
            background-color: rgba(0, 0, 0, 0.7);
        }*/

        h4 {
            font-size: 2.5rem;
        }
    </style>
}


<section id="bg">
    <div class="row">
        
        <div class="col-md-4 offset-md-4">
            <div>
                <h5 class="text-center text-danger" style="margin:20px">If you cannot remember your password, follow the instructions below to help us easily recover your password</h5>
                <div class="card" style="">
                    <div class="card-header text-info" style="">Enter you email to reset your password</div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>




@section scripts{

    <partial name="_ValidationScriptsPartial" />

}
