<div class="stopwatch" style="">
    StopWatch
</div>

<div id="local" class="callScreen"><div class="text-center" id="local_video"></div></div>
<div id="container" style="margin-top:10px">
    <div>
    </div>
</div>
<div style="margin-top:10px" class="text-center">
    <button class="btn btn-primary" type="button" id="btn_mute" onclick="toggle_mute()" disabled>Mute</button>
    <button class="btn btn-warning" id="join_leave" onClick="" type="button">Join Call</button>
</div>
<div class="text-center">
    <p id="count">Disconnected.</p>
</div>

<style>
    video {
        width: 100%;
        height: auto;
    }

    .participant > div {
        width: 150px !important
    }
</style>