@using DAL.Utils;
@{
    Layout = "_Layout_web";
    ViewBag.Title = "Advise";
}
    <section class="page-title-area page-title-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <div class="page-title-content">
                            <h2>Advise</h2>
                            <ul>
                                <li><a href="~/">Home</a></li>
                                <li>Advise</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100 pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="~/images/advise.jpg" alt="image">
                    </div>

                    <div class="article-content">


                        <h3>What is online counseling?</h3>

                        <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform.</p>

                        <p>You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>

                        <blockquote class="wp-block-quote">
                            <p>bringing healthcare to you anytime and anywhere.</p>

                            <cite></cite>
                        </blockquote>



                        <h3>Benefits of online counseling</h3>

                        <ul class="features-list">
                            <li><i class="flaticon-check-mark"></i> Visit a provider via secure phone or video using your computer or smartphone.</li>
                            <li><i class="flaticon-check-mark"></i> It can take weeks to see a provider for the first time; it takes only days with online counseling</li>
                            <li><i class="flaticon-check-mark"></i> You don’t have to fight traffic or worry about fitting an appointment into your day.</li>
                            <li><i class="flaticon-check-mark"></i> Our services are more affordable than conventional behavioral healthcare.</li>
                        </ul>

                        <h6>You can get counseling in four ways:</h6>
                        <ul class="features-list">
                            <li><i class="flaticon-check-mark"></i><strong>Exchanging messages</strong> with your provider</li>
                            <li><i class="flaticon-check-mark"></i><strong>Chatting live</strong> with your provider</li>
                            <li><i class="flaticon-check-mark"></i><strong>Speaking over the phone</strong> with your provider</li>
                            <li><i class="flaticon-check-mark"></i><strong>Video conferencing</strong> with your provider</li>
                        </ul>
                        <h6>You can use different ways at different times as you wish, based on your needs, availability, and convenience</h6>
                        <ul class="features-list">
                            <li><i class="flaticon-check-mark"></i><strong>Individual counseling</strong></li>
                            <li><i class="flaticon-check-mark"></i><strong>Couples counseling</strong></li>
                            <li><i class="flaticon-check-mark"></i><strong>Family counseling</strong></li>
                            <li><i class="flaticon-check-mark"></i><strong>Child/Adolescent counseling</strong></li>
                        </ul>

                        <p>After you sign up, we will match you to an available provider who fits the type of issues you are dealing with, your goals and preferences. Different providers have different approaches and areas of focus, so it's important to find the right person who can achieve the best results for you. We are able to provide a successful match most of the time; however, if you start the process and you feel your provider isn't a good fit for you, you may elect to be matched to a different provider.</p>




                       
                    </div>






                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">
                   
                    <section class="widget widget_recent_comments">
                        <h3 class="widget-title">Stressors and Mental Health conditions</h3>

                        <ul>

                            <li>
                                Anxiety
                            </li>
                            <li>Depression</li>
                            <li>
                                Bipolar
                            </li>
                            <li>
                                Stress Management
                            </li>
                            <li>
                                Grief and Loss
                            </li>
                            <li>
                                Trauma and PTSD
                            </li>
                            <li>
                                Relationship issues
                            </li>
                            <li>
                                Separation and Divorce
                            </li>
                            <li>
                                Sexual Malfunction
                            </li>
                            <li>
                                Panic disorders
                            </li>
                         <li>
                             Addictions
                         </li>
                            <li>
                                Men's issues
                            </li>
                            <li>
                                Women's issues
                            </li>
                            <li>
                                Postpartum depression
                            </li>
                            <li>
                                Parenting stress
                            </li>
                            <li>
                                Work-Life Balance
                            </li>
                            <li>Family Conflict</li>
                            <li>
                                Career/Vocational Issues
                            </li>
                            <li>
                                School Stress
                            </li>
                        </ul>
                    </section>

                   
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->