@using DAL.Utils;
@{
    Layout = "_Layout_web";
    ViewBag.Title = "Career";
}
<section class="page-title-area page-title-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <div class="page-title-content">
                        <h2>Career</h2>
                        <ul>
                            <li><a href="~/">Home</a></li>
                            <li>Career</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-details-area ptb-100 pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="services-details-desc">
                  
                    <div class="services-details-image text-center">
                        <h3>Private practice with no doors and no overhead</h3>
                        <p>
                            Join thousands of providers on the Nigeria's largest online treatment platform.
                        </p>

                        <p>We provide the marketing, the technology, and the additional income. You provide the professionalism, clinical experience, and care.</p>
                        <img src="~/images/career.jpg" alt="image" style="height:550px">
                    </div>

                    <h3 class="text-center">Why work with MySpaceMyTime?</h3>

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-vision-box">
                                <div class="text-center">
                                    <img src="~/images/volume.png" />
                                    <h3>Volume</h3>
                                </div>


                                <p>Over 5,000 people sign up at MySpaceMyTime every day looking for a counselor to help with life’s challenges.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-vision-box">
                                <div class="text-center">
                                    <img src="~/images/flexibility.png" />
                                    <h3>Flexibility</h3>
                                </div>


                                <p>MySPaceMyTime can be your major source of income ("full time") or a supplement to your current work. You choose how many people you want to work with, and you are in full control of your schedule.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-vision-box">
                                <div class="text-center">
                                    <img src="~/images/focus_on_counseling.png" />
                                    <h3>Focus on Counseling</h3>
                                </div>


                                <p>Your focus is 100% on counseling. You do not need to worry about acquiring clients, billing, support, or operations. We handle it all!.</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">Make Appointment <i class="flaticon-right-chevron"></i></button>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

<section class="our-vision-area ptb-100 pt-0">
    <div class="container">
       
        
    </div>
</section>