    <!-- Start Main Banner Area -->
@{
    Layout = "_Layout_web";
    ViewBag.Title = "Welcome";

}
    <div class="home-slides owl-carousel owl-theme">
        <div class="main-banner item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            @*<span>MySpace MyTime</span>*@
                            <h2>Bringing healthcare to you anytime and anywhere</h2>
                            <div class="btn-box">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        why are you here today? <i class="fas fa-bell"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#providerModal" href="#">I want to register as a provider</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#clientModal" href="#">I want to register as a member</a>
                                    </div>

                                </div>
                                @*<a href="#" data-toggle="modal" data-target="#clientModal" class="btn btn-primary">why are you here today?  <i class="fas fa-bell"></i></a>*@

                            </div>

                            @*<div class="btn-box">
                                <a href="#" data-toggle="modal" data-target="#clientModal" class="btn btn-primary">why are you here today?  <i class="fas fa-bell"></i></a>

                            </div>*@
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="circle-shape1"><img src="~/web/img/circle-shape1.png" alt="image"></div>
            <div class="circle-shape2"><img src="~/web/img/circle-shape2.png" alt="image"></div>*@
            @*<div class="shape1"><img src="~/web/img/shape/1.png" alt="image"></div>*@
        </div>

        <div class="main-banner item-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">

                            <h2>Bringing healthcare to you anytime and anywhere</h2>


                            <div class="btn-box">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        why are you here today? <i class="fas fa-bell"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#providerModal" href="#">I want to register as a provider</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#clientModal" href="#">I want to register as a member</a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="circle-shape1"><img src="~/web/img/circle-shape1.png" alt="image"></div>
            <div class="circle-shape2"><img src="~/web/img/circle-shape2.png" alt="image"></div>
            <div class="shape1"><img src="~/web/img/shape/1.png" alt="image"></div>*@
        </div>

        <div class="main-banner item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">

                            <h2>Bringing healthcare to you anytime and anywhere</h2>


                            <div class="btn-box">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        why are you here today? <i class="fas fa-bell"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#providerModal" href="#">I want to register as a provider</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#clientModal" href="#">I want to register as a member</a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="circle-shape1"><img src="~/web/img/circle-shape1.png" alt="image"></div>
            <div class="circle-shape2"><img src="~/web/img/circle-shape2.png" alt="image"></div>
            <div class="shape1"><img src="~/web/img/shape/1.png" alt="image"></div>*@
        </div>


        <div class="main-banner item-bg4">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">

                            <h2>Bringing healthcare to you anytime and anywhere</h2>


                            <div class="btn-box">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        why are you here today? <i class="fas fa-bell"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#providerModal" href="#">I want to register as a provider</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#clientModal" href="#">I want to register as a member</a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="circle-shape1"><img src="~/web/img/circle-shape1.png" alt="image"></div>
            <div class="circle-shape2"><img src="~/web/img/circle-shape2.png" alt="image"></div>
            <div class="shape1"><img src="~/web/img/shape/1.png" alt="image"></div>*@
        </div>

        <div class="main-banner item-bg5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">

                            <h2>Bringing healthcare to you anytime and anywhere</h2>


                            <div class="btn-box">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        why are you here today? <i class="fas fa-bell"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#providerModal" href="#">I want to register as a provider</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#clientModal" href="#">I want to register as a member</a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="circle-shape1"><img src="~/web/img/circle-shape1.png" alt="image"></div>
            <div class="circle-shape2"><img src="~/web/img/circle-shape2.png" alt="image"></div>
            <div class="shape1"><img src="~/web/img/shape/1.png" alt="image"></div>*@
        </div>

        <div class="main-banner item-bg6">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">

                            <h2>Bringing healthcare to you anytime and anywhere</h2>


                            <div class="btn-box">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        why are you here today? <i class="fas fa-bell"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#providerModal" href="#">I want to register as a provider</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#clientModal" href="#">I want to register as a member</a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="circle-shape1"><img src="~/web/img/circle-shape1.png" alt="image"></div>
            <div class="circle-shape2"><img src="~/web/img/circle-shape2.png" alt="image"></div>
            <div class="shape1"><img src="~/web/img/shape/1.png" alt="image"></div>*@
        </div>
    </div>


<!-- Start About Area -->
<section class="about-area" style="margin-top:30px">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="~/web/img/about-img1.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 p-0">
                <div class="about-content">
                    @*<span>Welcome</span>
                        <h2>MySpace MyTime</h2>*@
                    <p>Life is full of challenges and no one is immune to these challenges. When dealing with life’s struggles, it helps to have someone to talk to. Whether it’s stress, anxiety, depression, trauma or loss, we are here to help. With our counselors, you get the same professionalism and quality you would expect from an in-office meeting, but with the ability to communicate when and how you want.</p>

                    <ul>
                        <li><i class="flaticon-check-mark"></i> Speak with a provider from the privacy and comfort of your own home</li>
                        <li><i class="flaticon-check-mark"></i> Don’t go it alone, we are here for you!</li>

                    </ul>

                    <a href="@Url.Action("Advise","Home")" class="btn btn-primary">Learn More <i class="flaticon-right-chevron"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- End Main Banner Area -->
<!-- Start Main Services Area -->
<section class="main-services-area ptb-100">
    <div class="container">
        <div class="section-title">
            @*<span>Main Features</span>*@
            <h2>Our Services</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>*@
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="main-services-box">
                    <div class="icon">
                        <i class="flaticon-doctor"></i>
                    </div>
                    <h3><a href="#">Behavioral Health</a></h3>
                    @*<p>Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="main-services-box">
                    <div class="icon">
                        <i class="flaticon-dental-chair"></i>
                    </div>
                    <h3><a href="#">Medical Health</a></h3>
                    @*<p>Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="main-services-box">
                    <div class="icon">
                        <i class="flaticon-care"></i>
                    </div>
                    <h3><a href="#">Diagnostic Health</a></h3>
                    @*<p>Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>*@
                </div>
            </div>

            @*<div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="main-services-box">
                        <div class="icon">
                            <i class="flaticon-brain"></i>
                        </div>
                        <h3><a href="#">Child Counseling</a></h3>

                    </div>
                </div>*@
        </div>

        <blockquote class="wp-block-quote">
            <p>Bringing healthcare to you anytime and anywhere</p>

            <cite>MySpace MyTime</cite>
        </blockquote>
    </div>

    <div class="shape2"><img src="~/web/img/shape/2.png" alt="image"></div>
</section>
<!-- End Main Services Area -->
<!-- Start Our Mission Area -->
<section class="our-mission-area ptb-100" style="display:none">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="our-mission-content">
                    <span class="sub-title">Our Mission & Vision</span>
                    <h2>Better Information, Better Health</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <ul>
                        <li>
                            <div class="icon">
                                <i class="flaticon-doctor"></i>
                            </div>
                            <span>Professional Staff</span>

                            Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                        </li>

                        <li>
                            <div class="icon">
                                <i class="flaticon-newborn"></i>
                            </div>
                            <span>Newborn Care</span>

                            Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                        </li>

                        <li>
                            <div class="icon">
                                <i class="flaticon-laboratory"></i>
                            </div>
                            <span>Sufficient Lab Tests</span>

                            Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                        </li>

                        <li>
                            <div class="icon">
                                <i class="flaticon-extraction"></i>
                            </div>
                            <span>Tooth Extraction</span>

                            Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 p-0">
                <div class="our-mission-image">
                    <img src="~/web/img/mission-img1.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="shape3"><img src="~/web/img/shape/3.png" class="wow fadeInLeft" alt="image"></div>
</section>
<!-- End Our Mission Area -->
<!-- Start Fun Facts Area -->
<section class="fun-facts-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="single-fun-facts">
                    <div class="icon">
                        <i class="flaticon-doctor-1"></i>
                    </div>
                    <h3>
                        <span class="odometer" data-count="540"></span>
                        <span class="optional-icon">+</span>
                    </h3>
                    <p>Expert Providers</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="single-fun-facts">
                    <div class="icon">
                        <i class="flaticon-light-bulb"></i>
                    </div>
                    <h3>
                        <span class="odometer" data-count="899"></span>
                        <span class="optional-icon">K</span>
                    </h3>
                    <p>Problem Solve</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="single-fun-facts">
                    <div class="icon">
                        <i class="fa fa-video-camera"></i>
                    </div>
                    <h3>
                        <span class="odometer" data-count="100"></span>
                        <span class="optional-icon">+</span>
                    </h3>
                    <p>Complete sessions</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="single-fun-facts">
                    <div class="icon">
                        <i class="flaticon-phone-call"></i>
                    </div>
                    <h3>
                        <span class="odometer" data-count="56"></span>
                        <span class="optional-icon">K</span>
                    </h3>
                    <p>Voice calls</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Fun Facts Area -->
<!-- Start Services Area -->
<section class="services-area ptb-100 bg-f4f9fd" style="display:none">
    <div class="container">
        <div class="section-title">
            <span>Our Services</span>
            <h2>Our Healthcare Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box bg-1">
                    <div class="icon">
                        <i class="flaticon-cancer"></i>
                    </div>
                    <h3><a href="#">Cancer Services</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                    <a href="#" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box bg-2">
                    <div class="icon">
                        <i class="flaticon-liver"></i>
                    </div>
                    <h3><a href="#">Liver Transplant</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                    <a href="#" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box bg-3">
                    <div class="icon">
                        <i class="flaticon-kidney"></i>
                    </div>
                    <h3><a href="#">Kidney Cancer</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                    <a href="#" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box bg-4">
                    <div class="icon">
                        <i class="flaticon-ekg"></i>
                    </div>
                    <h3><a href="#">Cardiac Arrhythmia</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                    <a href="#" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box bg-5">
                    <div class="icon">
                        <i class="flaticon-tooth"></i>
                    </div>
                    <h3><a href="#">Dental Services</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                    <a href="#" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box bg-6">
                    <div class="icon">
                        <i class="flaticon-radiation"></i>
                    </div>
                    <h3><a href="#">Radiation Oncology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                    <a href="#" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="more-services-btn">
                    <a href="#" class="btn btn-primary">More Services <i class="flaticon-right-chevron"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->
<!-- Start Feedback Area -->
<section class="feedback-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Feedback</span>
            <h2>Our Happy Clients Says About Us</h2>
            <p>These are what our clients are saying about the services that they received and our providers.</p>
        </div>

        <div class="feedback-slides">
            <div class="client-thumbnails">
                <div>
                    <div class="item">
                        <div class="img-fill"><img src="~/web/img/client-image/2.jpg" alt="client"></div>
                    </div>

                    <div class="item">
                        <div class="img-fill"><img src="~/web/img/client-image/4.jpg" alt="client"></div>
                    </div>

                    <div class="item">
                        <div class="img-fill"><img src="~/web/img/client-image/1.jpg" alt="client"></div>
                    </div>

                    <div class="item">
                        <div class="img-fill"><img src="~/web/img/client-image/5.jpg" alt="client"></div>
                    </div>

                    <div class="item">
                        <div class="img-fill"><img src="~/web/img/client-image/1.jpg" alt="client"></div>
                    </div>

                    <div class="item">
                        <div class="img-fill"><img src="~/web/img/client-image/3.jpg" alt="client"></div>
                    </div>

                    <div class="item">
                        <div class="img-fill"><img src="~/web/img/client-image/5.jpg" alt="client"></div>
                    </div>

                    <div class="item">
                        <div class="img-fill"><img src="~/web/img/client-image/3.jpg" alt="client"></div>
                    </div>
                </div>
            </div>

            <div class="client-feedback">
                <div>
                    <div class="item">
                        <div class="single-feedback">
                            <h3>John Lucy</h3>
                            @*<span>Founding Partner</span>*@
                            <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform. You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="single-feedback">
                            <h3>John Smith</h3>
                            @*<span>Web Developer</span>*@
                            <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform. You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="single-feedback">
                            <h3>Maxwel Warner</h3>
                            @*<span>Web Designer</span>*@
                            <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform. You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="single-feedback">
                            <h3>Ross Taylor</h3>
                            @*<span>Patient</span>*@
                            <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform. You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="single-feedback">
                            <h3>James Anderson</h3>
                            @*<span>CEO</span>*@
                            <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform. You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="single-feedback">
                            <h3>Steven Smith</h3>
                            @*<span>Manager</span>*@
                            <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform. You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="single-feedback">
                            <h3>Steven Lucy</h3>
                            @*<span>Patient</span>*@
                            <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform. You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="single-feedback">
                            <h3>John Terry</h3>
                            @*<span>Patient</span>*@
                            <p>Online counseling is an alternative form of face-to-face therapy is when a therapist communicates with you remotely through the Internet (vs. in-office therapy); providing web therapy using our platform. You can talk with them using a computer, tablet, smartphone, and any other device that can use an Internet connection.</p>
                        </div>
                    </div>
                </div>

                <button class="prev-arrow slick-arrow">
                    <i class='flaticon-left-arrow'></i>
                </button>

                <button class="next-arrow slick-arrow">
                    <i class='flaticon-arrow-pointing-to-right'></i>
                </button>
            </div>
        </div>
    </div>
</section>



<!-- End Feedback Area -->

