@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-dismissible @TempData["AlertType"]" role="alert">
        <button type="button" class="close mr-10" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["AlertMessage"]
    </div>
}